<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html" xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:form id="f1">
        <af:panelSplitter orientation="horizontal" splitterPosition="100" id="ps2">
          <f:facet name="first"/>
          <f:facet name="second">
            <af:panelSplitter orientation="horizontal" splitterPosition="100" positionedFromEnd="true" id="ps1">
              <f:facet name="first"/>
              <f:facet name="second"/>
            </af:panelSplitter>
          </f:facet>
        </af:panelSplitter>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
